.v-btn {
    font-size: 13px;
    text-transform: none;
    &.primary,
    &.secondary,
    &--disabled {
        &:not(.icon__large) {
            min-width: 119px;
            height: 45px;
        }
    }
    &.auto-width {
        &:not(.icon__large) {
            min-width: auto !important;
        }
    }
    &.primary {
        &:hover {
            background: color('green','hover') !important;
        }
    }
    &.secondary {
        background-color: color('neutral', 'white') !important;
        border: 1px solid color('green') !important;
        box-shadow: 0px 0px 2px 0px color('green')!important;
        -webkit-box-shadow: 0px 0px 2px 0px color('green') !important;
        -moz-box-shadow: 0px 0px 2px 0px color('green') !important;
        color: color('green');
    }
    &.icon {
        min-width: 32px !important;
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 0 0 0 5px;
        //border: 1px solid #dddbda;
        border: none !important;
        background-color: color('neutral', 'white');
        color: color('neutral', 'dark-gray');
        &:hover {
            background: color('blue', 'highlight');
            color: color('blue');
        }
    }
    &.icon__large {
        border: 2px solid color('neutral', 'dark-gray');
        color: color('neutral', 'dark-gray');
        width: 105px;
        height: 90px;
        background-color: color('neutral', 'white');
        .icon__large-title {
            font-size: 10px;
            padding: 12px 0 0 0;
            letter-spacing: 0.5px;
        }
        &.icon__large-selected {
            border: 2px solid color('green');
            color: color('green');
            box-shadow: 0 3px 5px -1px #666 !important;
        }
        &.icon__large-alert {
            border: 2px solid rgb(247,183,0);
            color: rgb(247,183,0);
            box-shadow: 0 3px 5px -1px #666 !important;
        }
        .v-btn__content {
            display: inline-block;
        }
        &:hover {
            border: 2px solid color('green');
            color: color('green');
            box-shadow: 0 3px 5px -1px #666 !important;
        }
        &:disabled {
            border: 2px solid #bdbdbd;
        }
    }
    &.icon__wide {
        height: auto;
        width: 100%;
        text-align: left;
        .icon__large-title {
            font-size: 12px;
            padding: 12px;
            letter-spacing: 0.5px;
        }
    }
    &.close {
        border: none;
        position:absolute;
        top: -12px;
        right: -12px;
    }
    &.button__add {
        min-width: 100% !important;
        width: 100%;
        color: color('blue');
        padding: 24px !important;
        border: 2px dashed color('blue', 'border');
        height: auto !important;
        margin: 16px 0;
        background: color('neutral', 'white') !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        text-align: left !important;
        justify-content: normal;
        &:hover {
            background: color('blue', 'highlight');
        }
    }
    &.button__show {
        color: color('blue');
        &:hover {
            background: color('blue', 'highlight');
        }
    }
    + .v-btn {
            margin-left: 20px;
        &.icon {
            margin-left: 10px;
        }
        &.icon__product {
            margin-left: 0;
        }
        &.icon__funding {
            margin-left: 0;
        }
    }
    &.icon__product {
        border: 1px solid color('neutral', 'gray');
        color: color('green');
        font-weight: 400;
        width: 180px;
        height: 115px;
        background-color: color('neutral', 'white');
        padding: 1rem;
        margin-top: 16px;
        filter: grayscale(100%);
        &:hover {
            background: color('neutral', 'white');
            border-color: color('green');
            filter: none;
        }
        &.v-btn--disabled {
            opacity: 0.5;
            color: color('neutral','gray') !important;
        }
    }
    &.icon__product--selected {
        border: 2px solid color('green');
        box-shadow: 0 3px 8px rgba(18,118,77,0.46) !important;
        color: color('green');
        font-weight: 500;
        filter: none;
    }
    &.icon__funding {
        border: 1px solid color('neutral', 'light-gray');
        color: color('green');
        font-weight: 400;
        min-height: 52px;
        background-color: color('neutral', 'white');
        padding: 8px;
        filter: grayscale(100%);
        &:not(.icon__funding--selected):not(.icon__funding--alert):hover {
            background: color('neutral', 'white');
            border-color: color('green');
            filter: none;
        }
        & .v-image {
            margin-right: 8px;
        }

    }
    &.icon__funding--selected {
        border: 2px solid color('green');
        box-shadow: 0 3px 8px color('green','shadow') !important;
        font-weight: 500;
        filter: none;
    }
    &.icon__funding--alert {
        border: 2px solid color('yellow');
        box-shadow: 0 3px 8px color('yellow','shadow') !important;
        color: color('yellow');
        filter: none;
        color: color('neutral', 'dark-gray');

        & .v-image {
            filter: grayscale(100%);
        }
    }
}
@media only screen and (max-width: 600px) {
    .v-btn {
        &.icon__product {
            width: 130px;
            height: 105px;
        }
        &.icon__funding {
            & .v-btn__content {
                justify-content: flex-start;
            }
        }
    }
}