// Item
.item {
    background: color('neutral', 'white');
    border: 1px solid color('neutral','light-gray');
    border-radius: 2px;
    margin-top: 16px;
    &.disabled {
        opacity: 0.4;
    }
}

.item__teaser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 16px;
}

.item__name {
    display: flex;
    justify-content: flex-start;
}

.item__action-items {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {

    .item {
        box-shadow: 0px 3px 7px #e6e7e8;
    }
    
    .item__teaser {
        flex-wrap: wrap;
        text-align: left;
        align-items: flex-start;
        padding: 0;
        & h2 {
            font-weight: 800;
        }
    }

    .item__name {
        display: flex;
        justify-content: flex-start;
        flex-basis: 50%;
        padding: 16px;
        min-height: 70px;
        align-items: center;
    }

    .item__action-items {
        flex-basis: 50%;
        padding: 16px;
    }
}
