a {
    transition: .2s ease-in-out;
    &:not(.v-btn) {
        color: color('accent') !important;
        font-weight: bold;
        &:hover {
            color: color('accent','hover') !important;
            text-decoration: underline !important;
        }
        &.secondary {
            color: color('neutral', 'gray') !important;
            background-color: transparent !important;
            font-weight: normal !important;
            text-decoration: underline;
            &:hover {
                color: color('neutral','gray') !important;
                text-decoration: underline !important;
            }
        }
    }
}
